@import url('https://fonts.googleapis.com/css2?family=Acme&family=Dosis:wght@200..800&family=Mooli&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shadows+Into+Light&display=swap');

:root{
    --fst-color:#497f90;
    --scd-color:#6295A2;
    --thd-color:#80B9AD;
    --foth-color:#B3E2A7;

    --small-radius:20px;
    --medium-radius:30px;
    --big-radius:50% ; 

    --h1-font:60px;
    --h2-font:27px;
    --h3-font:24px;
    --h4-font:21px;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: .4s all;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    font-family: "Dosis", sans-serif;
}
::after,::before{
    content: "";
    position: absolute;
    transition: all .4s;
}
::selection{
    color: white;
    background-color: var(--fst-color);
}
section{
    width: 100%;
}
section , article{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
p{
    line-height: 1.4;
}
ul , nav{
    display: flex;
    gap: 20px;
    list-style: none;
}
img{
    object-fit: cover;
}
a{
    display: inline-block;
    font-size: var(--h4-font);
}
@media(max-width:768px){
    h3{
        font-size: 20px;
    }
    p{
        font-size: 17px;
    }
}
/*---------------------------------------------*/
header{
    background-color: var(--fst-color);
    color: white;
    padding: 0 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav ul li a{
    position: relative;
    color: white;
}
header nav ul li a::after{
    width: 25%;
    height: 1px;
    background-color: white;
    left: 0;
}
header nav ul li a:hover::after,
header nav ul li a.active::after{
    width: 100%;
}
.menu-btn{
    width: 45px;
    height: 35px;
    position: relative;
    display: none;
}
.menu-btn article{
    width: 90%;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.menu-btn article:nth-child(1){
    top: 25%;
}
.menu-btn article:nth-child(3){
    top:75% ;
}
.menu-btn.active article:nth-child(1){
    top: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}
.menu-btn.active article:nth-child(2) ,
.menu-btn.active article:nth-child(3)
{
    top: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}
@media(max-width:768px){
    header{
        padding: 20px;
    }
    header nav{
        position: absolute;
        left: 0;
        top: 80px;
        width: 100%;
        background-color: var(--fst-color);
        padding: 0 20px;
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0;
        overflow: hidden;
    }
    header nav ul{
        flex-direction: column;
        width: 100%;
    }
    .menu-btn{
        display: inline-block;
    }
    header nav ul li a{
        transform: translateX(-300%);
    }
}
header nav.active ul li a{
    transform: translateX(0px);
    transition-delay: calc( .1s * var(--x) );
}
nav.active{
    height: 260px;
}
/*---------------------------------------------*/
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 80px;
}
.home-swiper,.home-wrraper{
    width: 100%;
    height: 100%;
}
.home-page.swiper-slide{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.home-page:nth-child(1){
    background-image: url(../img/banner-01.jpg);
}
.home-page:nth-child(2){
    background-image: url(../img/banner-02.jpg);
}
.home-page:nth-child(3){
    background-image: url(../img/banner-03.jpg);
}
.home-page:nth-child(4){
    background-image: url(../img/banner-04.jpg);
}
.home-page .home-text{
    text-align: center;
    width: 650px;
}
.home-text h3{
    font-size: var(--h1-font);
    font-weight: 800;
    color: white;
    margin-bottom: 15px;
}
.home-text P{
    word-spacing: 2PX;
    font-weight: 500;
    color: white;
    margin-bottom: 15px;
}
.achievements-list{
    width: 60%;
    padding: 25px;
    border-radius: var(--medium-radius);
    background-color: white;
    margin-top: 30px;
}
.home-text a ,.achievements-list li a {
    color: var(--fst-color);
    border-radius: var(--medium-radius);
    border-color:var(--fst-color) ;
    padding: 10px 20px;
    border: 1px solid var(--fst-color);
}
.home-text a:hover ,.achievements-list li a:hover{
    background-color:var(--fst-color);
    color: white;
}
.home-page ul{
    width: 65%;
    border-radius: var(--medium-radius);
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px , 1fr));
    align-items: center;
    margin: 20px 0;
}
.achievements{
    display: flex;
    align-items: center;
    justify-content: start;
}
.achievements i{
    padding: 25px;
    border-radius: var(--big-radius);
    border: 1px solid var(--fst-color);
    color: var(--fst-color);
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: var(--h3-font);
    justify-content: center; 
    transition: .1s all;
    margin-right: 20px;
}
.achievements:hover i{
    color: white;
    background-color: var(--fst-color);
}
.achev-text h3{
    color: var(--fst-color);
    font-size: var(--h3-font);
    font-weight: 500;
} 
.swiper-pagination {
    padding-bottom: 0px;
}

.swiper-pagination span{
    background-color: var(--fst-color);
    width: 25px;
    height: 5px;
    border-radius: var(--small-radius);
}
@media(max-width:768px){
    .home-page .home-text{
        width: 90%;
    }
    .home-page ul{
        width: 90%;
    }
}
/*------------------------ end home  -----------------------------*/
.home-blogs{
    padding: 5% ;
}
.address{
    width: 600px;
    text-align: left;
    padding: 25px;
}
.address h3{
    font-size: var(--h2-font);
    margin-bottom: 15px;
}
.address p{
    color: rgb(0, 0, 0 , .5);
    font-size: var(--h4-font);
}
.blogs-container{
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 25px;
}
.blog-boxs{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    display: none;
}
.blog-boxs.active{
    display: grid;
}
.blog-box{
    display: grid;
    gap: 25px;
    grid-template-columns: 40% 55%;
    align-items: center;
    padding: 25px;
    border-bottom: 1px solid rgb(0, 0, 0 , .5);
}
.img-box{
    height: 100%;
    overflow: hidden;
    border-radius: var(--medium-radius);
}
.img-box img{
    width: 100%;
    height: 100%;
}
.dif{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.dif h3{
    font-size: var(--h2-font);
    text-transform: capitalize;
}
.dif a{
    padding: 10px 20px;
    color: white;
    border-radius: var(--medium-radius);
    background-color: var(--fst-color);
}
.dif a:hover{
    background-color: var(--scd-color);
}
.content-box p{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(0, 0, 0 , .5);
    font-size: var(--h4-font);
}
.content-box .direction {
    display: flex;
    align-items: center;
    gap:15px;
    font-size: var(--h3-font);
    color: var(--fst-color);

}
.content-box .direction i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: var(--fst-color);
    margin-top: 5px;
}
.direction a{
    color: var(--fst-color);
}
.direction:hover i{
    transform: translateX(10px);
}
ul.pagination{
    justify-content: center;
    padding: 20px;
}
ul.pagination li h3{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fst-color);
    font-size: var(--h3-font);
    border: 3px solid var(--fst-color);
    border-radius: var(--big-radius);
    cursor: pointer;
}
ul.pagination li h3:hover , 
ul.pagination li h3.active{
    color: white;
    background-color: var(--fst-color);
}
.blog-map{
    padding-top: 25px;
}
.blog-map iframe{
    width: 100%;
    border-radius: var(--medium-radius);
}
@media(max-width:768px){
    .address{
        width: 90%;
    }
    .blogs-container{
        grid-template-columns: 1fr;
    }
    .blog-box{
        grid-template-columns: 1fr;
    }
}
/*------------------------ end home blogs  --------------------------------------*/
.home-banner{
    width: 100%;
    height: 50vh;
    background-image: url(../img/banner-01.jpg);
    position: relative;
}
.home-banner::after{
    width: 100%;
    height: 100%;
    inset: 0;
    background: linear-gradient(to right , var(--fst-color),transparent);
}
.banner-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    display:flex ;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    color: white;
    gap: 25px;
}
.banner-text h3{
    font-size: var(--h2-font);
    margin-bottom: 15px;
}
.banner-text p{
    font-size: var(--h3-font);
}
.banner-content a , .herosec-text a{
    padding: 10px 20px;
    border: 3px solid white;
    color: white;
    border-radius: var(--medium-radius);
}
.banner-content a:hover , .herosec-text a:hover{
    color: var(--fst-color);
    background-color: white;
}
@media(max-width:768px){
    .home-banner .banner-content{
        width: 90%;
        flex-direction: column;
        align-items: start;
    }
}
/*---------------------- end banner ----------------------------*/
footer{
    padding: 20px;
    display: grid;
    background-color: var(--fst-color);
    grid-template-columns: repeat(auto-fit , minmax(290px , 1fr));
    gap: 25px;
    align-items: center;
}
footer article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer article  h3{
    font-size: var(--h2-font);
    margin-bottom: 15px;
    color: white;
}
footer article ul li a  {
    color: white;
}
footer article ul li a:hover{
    transform: translateY(-5px);
}
footer article ul li .fa-brands{
    width: 50px;
    height: 50px;
    border: 3px solid white;
    font-size: var(--h3-font);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--big-radius);
    color: white;
    transition: .1s;
    cursor: pointer;
}
footer article ul li .fa-brands:hover{
    background-color: white;
    color: var(--fst-color);
}

